.sr-only {
  display: inline-block;
  height: 0;
  overflow: hidden;
  text-indent: -9999px;
  width: 0;
}

.list {
  list-style-type: none;
  &.inline {
    display: flex;
  }
  &.centered {
    justify-content: center;
  }
  &-item {
    margin: 0 12px;
  }
  &-link {
    text-decoration: underline;
  }
}
