/*
* Default theme colours
**/

input, select {
  -webkit-appearance: none;
}

@mixin standardInputElement {
  background-color: $white;
  border: 0;
  border-radius: 2px;
  margin: 0;
  padding: 8px 12px;
}

@mixin secondaryInputElement {
  padding: 0 12px;
}

.form {
  $form: &;
  margin: 0 auto;
  max-width: 640px;
  &-row {
    margin-bottom: 12px;
    &-inner {
      display: flex;
      flex-flow: row wrap;
      &-col {
        flex: 1 100%;
      }
      &_text {

      }
      &_actions {
        justify-content: flex-end;
      }
    }
  }
}

.btn {
  @include montserrat400;
  @include standardInputElement;
  background-color: $input-bg-light;
  box-shadow: 0 0 0 1px $input-border-light;
  display: block;
  overflow: hidden;
  transition: opacity linear 200ms;

  &:focus {
    box-shadow: 0 0 2px 2px $input-border-light;
  }

  &.question {
    &:focus {
      box-shadow: none;
    }
  }

  &.link {
    background-color: transparent;
    box-shadow: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &.cancel {
    background-color: transparent;
    border-radius: 50%;
    box-shadow: none;
    height: 24px;
    line-height: 16px;
    padding: 0;
    width: 24px;
  }

  &.secondary {
    @include secondaryInputElement;
  }

  &.warning {
    box-shadow: 0 0 0 1px $input-border-error-light;
    color: $input-border-error-light;
  }
  &.proceed {
    box-shadow: 0 0 0 1px $input-border-valid-light;
    color: $input-border-valid-light;
  }

  &:disabled {
    opacity: 0.25;
  }

}

.form-input_text {
  @include montserrat400;
  @include standardInputElement;
  background-color: $input-bg-light;
  box-shadow: 0 0 0 1px $input-border-light;
  color: $input-text-light;
  transition: background-color linear 200ms, box-shadow linear 200ms, color linear 200ms;
  &::placeholder {
    color: $input-placeholder-light;
    font-style: italic;
    transition: color linear 200ms;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 2px 2px $input-border-light;
    outline: 0;
  }
  &.error {
    background-color: $input-bg-error-light;
    box-shadow: 0 0 0 1px $input-border-error-light;
    &::placeholder {
      color: $input-placeholder-error-light;
    }
  }
  &.valid {
    box-shadow: 0 0 0 1px $input-border-valid-light;
  }
}

.form-row-inner_radio {
  .form-input_radio {
    $parent: &;
    position: absolute;
    left: -999px;
    &-icon {
      $self: &;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $input-border-light;
      display: inline-block;
      height: 16px;
      margin-right: 8px;
      transition: background-color linear 200ms, box-shadow linear 200ms, color linear 200ms;
      width: 16px;
      // #{ $parent }:checked #{ $self } {
      //     box-shadow: 0 0 0 1px #f00;
      // }
    }

    &.error + .form_label .form-input_radio-icon {
      box-shadow: 0 0 2px 2px $input-border-error-light;
    }
    &.valid + .form_label .form-input_radio-icon {
      box-shadow: 0 0 2px 2px $input-border-valid-light;
    }
    &:focus + .form_label .form-input_radio-icon {
      box-shadow: 0 0 2px 2px $input-border-light;
    }
    &:checked + .form_label .form-input_radio-icon {
      background-color: $input-radio-bg-light;
      box-shadow: 0 0 0 1px $input-border-light;
    }
  }
}

.form_label {
  @include montserrat400;
  color: $input-label-light;
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;

  &.error {
    color: $input-label-error-light;
  }
}

@media (prefers-color-scheme: dark) {
  .form {
    $form: &;
    &-row {
      &-inner {
        &_text {

        }
        &_actions {
          text-align: right;
        }
      }
    }
  }

  .form_label {
    color: $input-label-dark;
    &.error {
      color: $input-label-error-dark;
    }
  }


  .btn {
    background-color: $input-bg-dark;
    box-shadow: 0 0 0 1px $white;
    color: $input-text-dark;

    &:focus {
      box-shadow: 0 0 2px 2px $input-border-dark;
    }

    &.warning {
      background-color: $btn-bg-error-dark;
      box-shadow: 0 0 0 1px $input-border-error-dark;
      color: $input-border-error-dark;
    }
    &.proceed {
      box-shadow: 0 0 0 1px $input-border-valid-dark;
      color: $input-border-valid-dark;
    }

  }

  .form-input_text {
    background-color: $input-bg-dark;
    box-shadow: 0 0 0 1px $input-border-light;
    color: $input-text-dark;
    flex-grow: 1;
    &::placeholder {
      color: $input-placeholder-dark;
      font-style: italic;
    }

    &.active,
    &:focus {
      box-shadow: 0 0 2px 2px $input-border-dark;
    }
    &.error {
      background-color: $input-bg-error-dark;
      box-shadow: 0 0 0 1px $input-border-error-dark;
      &::placeholder {
        color: $input-placeholder-error-dark;
      }
    }
    &.valid {
      box-shadow: 0 0 0 1px $input-border-valid-dark;
    }
  }

  .form-row-inner_radio {
    display: block;
    list-style-type: none;

    .form-input_radio {
      &-icon {
        box-shadow: 0 0 0 1px $input-border-dark;
      }
      &.error + .form_label .form-input_radio-icon {
        box-shadow: 0 0 2px 2px $input-border-error-dark;
      }
      &.valid + .form_label .form-input_radio-icon {
        box-shadow: 0 0 2px 2px $input-border-valid-dark;
      }
      &:focus + .form_label .form-input_radio-icon {
        box-shadow: 0 0 2px 2px $input-border-dark;
      }

      &:checked + .form_label .form-input_radio-icon {
        background-color: $input-radio-bg-dark;
        box-shadow: 0 0 0 1px $input-border-dark;
      }
    }
  }
}

@media (min-width: 768px) {
  .form {
    $form: &;
    &-row {
      &-inner {
        flex-flow: initial;
        &-col {
          flex: initial;
          &:first-child {
            flex-grow: 1;
          }
        }
      }
    }
  }
}
