// global.scss
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import './partials/_theme_colours';
@import './partials/_theme_forms';
@import './partials/_theme_typography';
@import './ui/_icons';
@import './ui/_scaffolding';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

.body {
  &-inner {

  }
}

.footer {
  background-color: $color-grey-1;
  bottom: 0;
  padding: 8px 0;
  position: absolute;
  width: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: $black;
  }
}

.game-deck {
  bottom: 25px;
  flex-flow: row wrap;
  overflow-y: auto;
  padding: 12px 12px 24px 12px;
  position: fixed;
  top: 75px;
  width: 100%;

  &-playing {
    display: flex;
    padding: 0 0 24px 0;
  }

  &-question {
    display: flex;
    flex: 1 0 0;
    flex-flow: row wrap;
    max-height: 500px;
    order: 1;
    padding: 10px 10px 0;
    @include breakpoint(600) {
      flex: 1.25 0 0;
    }
  }

  &-answers,
  &start {
    display: flex;
    flex-flow: row wrap;
    order: 3;
    padding: 10px 10px 0;
    @include breakpoint(800) {
      flex: 3 0px;
      order: 2;
    }
  }

  &-status {
    display: flex;
    flex: 1 0 0;
    flex-flow: row wrap;
    max-height: 500px;
    order: 2;
    padding: 10px 10px 0;
    @include breakpoint(600) {
      flex: 1.25 0 0;
    }
    @include breakpoint(800) {
      order: 3;
    }
  }
}

.fade-enter-active {
    opacity: 1;
    transition: opacity linear 200ms;
}
.fade-leave-active {
    opacity: 0;
    transition: opacity linear 200ms;
}
