// global.scss
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import './partials/_theme_colours';
@import './partials/_theme_forms';
@import './partials/_theme_typography';

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    box-shadow: 0 0 0 1px #000;
}

.game-deck-question { 
    flex: 1 0 0;
    order: 1; 
} 
.game-deck-status { 
    flex: 1 0 0;
    order: 2; 
}
.game-deck-answers,
.game-deck-start { 
    order: 3;
}
.footer { 
    order: 4;
}

@include breakpoint(600) {
    .aside { 
        flex: 1.25 0 0;
    }
}

@include breakpoint(800) {
    .game-deck-question { 
        order: 1; 
    } 
    .game-deck-answers,
    .game-deck-start { 
        flex: 3 0px;
        order: 2;
    }
    .game-deck-status { 
        order: 3;
    }
    .footer  { 
        order: 4;
    }
}
